<style>
.btn {
  
  background-color: Violet; /* Violet background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
  background-color: Tomato;
}
</style>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add new looks
    </h2>

    <form action="/insert_outfit" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div class="form-group">
        <label for="outfit1_box"> Outfit 1 </label>
        <input type="file" id="outfit1_box" name="outfit1_from_query" class="form-control"></div>

      <div class="form-group">
        <label for="outfit2_box"> Outfit 2 </label>
        <input type="file" id="outfit2_box" name="outfit2_from_query" class="form-control" height=100>
      </div>

      <button type="submit" class="btn">
        Create post
      </button>

    </form>
  </div>
</div>
