<%= form_tag("/insert_outfit_test", :method => :post) do  %>
  <%= cl_image_upload_tag( :image1,
  :tags => "directly_uploaded",
  :crop => :limit, :width => 1000, :height => 1000,
  :eager => [{ :crop => :fill, :width => 150, :height => 100 }],
  :html => { :style => "margin-top: 30px" }     
  ) %>
  <%= cl_image_upload_tag( :image2,
  :tags => "directly_uploaded",
  :crop => :limit, :width => 1000, :height => 1000,
  :eager => [{ :crop => :fill, :width => 150, :height => 100 }],
  :html => { :style => "margin-top: 30px" }     
  ) %>
  <button> Submit </button>  
<% end %>
