<style>

.btn {
  background-color: rgba(255, 99, 71, 0.6);
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  width: 160px;
}

.btn:hover {
  background-color: Tomato;
}

</style>

<div class="container">
  
  <hr>

  <div class="row" style="padding:5%;">
    </div>
  
    <div class="row Upload post">
      <div class="col-2"></div>
      <div class="col-8" style="text-align:center;">
        Upload a new post
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row Upload Posts Alert">
      <div class="col-2"></div>
      <div class="col-8" style="margin:auto; color:Tomato; font-size:80%;">
        <%= alert %>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row" style="padding:5%;">
    </div>

  </div>

    <form action="/insert_post" method="post" class="form-horizontal" enctype="multipart/form-data"
        data-remote="true">
      <div class="row Upload Outfit 1">
        <div class="col-2">
        </div>
        <div class="col-8">
          <label for="outfit1_box" style="font-size:80%; font-family: 'Montserrat', sans-serif;"> Outfit 1 </label>
            <input type="file" id="outfit1_box" name="outfit1_from_query" class="form-control" 
              style="font-size:80%; font-family: 'Montserrat', sans-serif;">
        </div>
        <div class="col-2">
        </div>
      </div>

      <div class="row Upload Outfit 2">
        <div class="col-2">
        </div>
        <div class="col-8">
          <label for="outfit2_box" style="font-size:80%; font-family: 'Montserrat', sans-serif;"> Outfit 2 </label>
            <input type="file" id="outfit2_box" name="outfit2_from_query" class="form-control"
              style="font-size:80%; font-family: 'Montserrat', sans-serif;">
        </div>
        <div class="col-2">
        </div>
      </div>

      <div class="row Upload Posts">
        <div class="col-2">
        </div>
        <div class="col-8">
            <button type="submit" class="btn">
              Create post
            </button>
        </div>
        <div class="col-2">
        </div>
      </div>

    </form>

  </div>

    
</div>