<style>

.row-Looksy-Header {
   height: 40px;
   padding-bottom: 25%;
   padding-top: 8%;
   font-family: 'Montserrat', sans-serif;
   text-align:center;
   font-size:200%;
   color:Tomato;
}

.Looksy-SubHeader {
   font-family: 'Montserrat', sans-serif;
   text-align:center;
   font-size:40%;
   color:Gray;
}

.What-Is {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
}

.About-Text {
  text-align: center;
  color: rgba(255, 99, 71, 0.8);
  text-weight: bolder;
  font-size: 90%;
  font-family: 'Montserrat', sans-serif;

}

.Sign-In {
  text-align: right;
  font-size:80%; 
  color:Gray; 
  text-decoration: none;
}

</style>
<div class="container">

    <div class="row">
      <div class="col-9">
      </div>
      <div class="col-3 pt-3">
        <a href="/sign_in" class="Sign-In">
        Sign in
        </a>
      </div>
    </div>

    <div class="row-Looksy-Header">
        Looksy
      <p class="Looksy-SubHeader">
        Wear your best and help others wear their best too
      </p>
      </div>
    </div>

    <div class="row What-Is">
      <div class="col-2">
      </div>
      <div class="col-8">
        <span>
          What is Looksy?
        </span>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row" style="padding-bottom:2%;">
    </div>

    <div class="row About-Text">
      <div class="col-2">
      </div>
      <div class="col-8">
        <p>
          Looksy is a social app designed for women to make the process of choosing outfits on any occasion
            collaborative, social and uplifting.
        </p>
        <p> 
          By upvoting one outfit over another, the Looksy community supports its users in what can often be a 
            stressful and tedious process for many women.
        </p>
        <p>
          Built with features designed to provide only positive feedback to its users, Looksy also hopes 
            to promote female empowerment and body positivity.
        </p>
        <p>
          Thank you for trying Looksy--we hope you enjoy using it as much as we have enjoyed creating it!
        </p>
      </div>
      <div class="col-2"></div>
    </div>
