<style>

.row-Looksy-Header {
   height: 40px;
   padding-bottom: 0%;
   padding-top: 20%;
   font-family: 'Montserrat', sans-serif;
   text-align:center;
   font-size:200%;
   color:Tomato;
}

.Looksy-SubHeader {
   font-family: 'Montserrat', sans-serif;
   text-align:center;
   font-size:40%;
   color:Gray;
}

.What-Is {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
}

.About-Text {
  text-align: center;
  color: rgba(255, 99, 71, 0.8);
  text-weight: bolder;
  font-size: 90%;
}

</style>
<div class="container">

    <div class="row-Looksy-Header">
    </div>

    <div class="row What-Is">
      <div class="col-2">
      </div>
      <div class="col-8">
        <span>
          Looksy is currently in beta. We would love your feedback on your experience!
        </span>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row" style="padding-bottom:2%;">
    </div>

    <div class="row About-Text">
      <div class="col-2">
      </div>
      <div class="col-8">
        <p>
          Provide feedback <a href="https://docs.google.com/forms/d/1A6T847ik0H35knCgWcfJbZZ3nXR8Ee3c5zH3HfMf2Kg/edit"> here. </a>
        </p>
      </div>
      <div class="col-2"></div>
    </div>
