<style>


.flex-panel {
   display: flex;
   width: 400px;
   padding-top: 50px;
   padding-bottom: 60px;
   height: 455px;
   border: thin Silver solid;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;  
}

.flex-logo-header {
   display: inline-flex;
   width: 400px;
   height: 40px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   flex-wrap: nowrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
}

.flex-header {
   display: inline-flex;
   width: 400px;
   height: 40px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 25px;
   padding-bottom: 5px;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
   font-weight: bold;
}

.flex-sign-in {
   display: inline-flex;
   width: 400px;
   height: 40px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
}

.btn {
  
  background-color: Thistle; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  font-family: 'Montserrat', sans-serif;
  width: 160px;
}

.btn:hover {
  background-color: Orchid;
}

</style>

<div class="flex-panel">
  <div class="flex-logo-header">
    <a href="/feed" style="font-size:230%; text-decoration: none;"> 
      <span style="color:Thistle;"> Looksy </span> </a>
      <span style="text-align:center;">
        Wear your best and help others wear their best too
      </span>
  </div>

  <div class="flex-header">
    <span style="text-align:center;">
      Sign In
    </span>
  </div>

  <div class="flex-header" style="font-size: 12px; color: Tomato;">
    <%= alert %>
  </div>
  <div class="flex-header" style="font-size: 12px; color: MediumSeaGreen;">
    <%= notice %>
  </div>

  
  <form action="/user_verify_credentials" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="flex-item">
        <input id="email_box" name="email_from_query" placeholder="Email" type="text" 
          style="font-size:80%; font-family: 'Montserrat', sans-serif;">
    </div>
    <div class="flex-item">
      <input id="password_box" name="password_from_query" placeholder="Password" type="password" 
        style="font-size:80%; font-family: 'Montserrat', sans-serif;">
    </div>
    <div class="flex-item">
      <button class="btn" style="font-size:80%; font-family: 'Montserrat', sans-serif;">
        Sign in
      </button>
    </div>
  </form>

  <div class="flex-sign-in">
    <p>
     <a href="/sign_up" style="font-size:90%; font-family: 'Montserrat', sans-serif;"> Sign Up </a> instead.
    </p>
  </div>
</div>
