<div class="container">
    <div class="row Header">
        <div class="col-sm-12" align="center">
        <h1>
        Welcome to Looksy!
        <h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"> Please Sign In </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-12"></div>
    </div>

  <form action="/user_verify_credentials" method="post">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"> <label for="email_box">Email</label>
          <input id="email_box" name="email_from_query" placeholder="Enter your email..." type="text">
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><label for="password_box">Password</label>
          <input id="password_box" name="password_from_query" placeholder="Enter your password..." type="password">
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <button>
          Sign in
          </button>
        </div>
        <div class="col-lg-4"></div>
    </div>
  </form>
</div>

<hr>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" align="center"> Or, <a href="/sign_up">Sign up</a> instead. </div>
        <div class="col-lg-4"></div>
    </div>

